@model MvcOnlineTicariOtomasyon.Models.Classes.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>KategoriGetir</h2>
@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <label>Kategori Ad</label>
    <br />
    @Html.TextBoxFor(m => m.KategoriAd, new {@class="form-control"})
    <br />
    @Html.HiddenFor(m => m.KategoriID)
    <button class="btn btn-info">Güncelle</button>
}

